*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.wrapper {
  width: 90%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.input-section {
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
}

.title {
  font-size: 1.375rem;
}

.user-input {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 6.098125rem;
  width: 100%;
  text-align: center;
}

.output-section {
  background-color: #fff;
  color: #000;
}
